
.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  .left {
    left: 0;
    
  }
  .right {
    right: 0;
   
  }

table{
    position: relative;;
    margin-top: 150px;
    left:10%;
}
ul{
    margin-top: 150px;
    margin-left: 20%;
}